body {
    background-color: rgb(98, 206, 84);
    width: 100vw;
    height: 100vh;
}
/* menu */
#menu {
    width: 100vw;
    height: 9vh;
}
  #menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* items del menu */
  #menu ul li {
    background-color: #2e518b;
  }  
  /* enlaces del menu */
  #menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  /* items del menu */
  #menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
  }
  
  /* efecto al pasar el ratón por los items del menu */
  #menu ul li:hover {
    background: #5b78a7;
  }
  
  /* menu desplegable */
  #menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
  }
  
  /* items del menu desplegable */
  #menu ul ul li {
    float: none;
    width: 150px;
  }
  
  /* enlaces de los items del menu desplegable */
  #menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
  }
  
  /* items del menu desplegable al pasar el ratón */
  #menu ul li:hover > ul {
    display: block;
  }
/* TABLE */
  table {
    border: 2px solid black;
    tr {
        border: 2px solid black;
        td {
            border: 2px solid #000;;
        }
    }
}
/* FONT FAMILY */
h2 {
  font-family: "fontfamili1";
}
h1 {
  font-family: "fontfamili1";
}
h3 {
  font-family: "fontfamili1";
}
@font-face {
  font-family: "fontfamili1";
  src: url("fons/go3v2.woff"),
  url("fons/go3v2.ttf")
}
/* DESCRIPCION*/
.divdesc {
  height: 40vh;
  width: 95vw;
  background-color: cornflowerblue;
  border-radius: 5px;
  border: 2px solid black;
  margin: 5px;
  margin-top: 15px;
  padding: 5px;
}
/*PERSONAGES*/
.personages {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  justify-content: space-evenly;
}
.divper {
  width: 45vw;
  display: flex;
  flex-flow: row;
  background-color: cadetblue;
  border: 2px solid black;
  border-radius: 5px;
  align-items: center;
}
.divtaula {
  height: 50vh;
  width: 45vw;
  background-color: cornflowerblue;
  border-radius: 5px;
  border: 2px solid black;
  margin: 5px;
  margin-top: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
table {
  background-color: rgb(245, 242, 51);
    tr {
      background-color: rgb(211, 81, 161);
    }
}

video {
  width: 100%;
  height: auto;
}
iframe {
  width: 100%;
  height: 80%;
}

.container {
  background-color: cornflowerblue;
  border-radius: 5px;
  border: 2px solid black;
}
/*FROMULARIO*/
form {
  background-color: cornflowerblue;
  border-radius: 5px;
  border: 2px solid black;
  width: 40vw;
    div {
      margin: 5px;
    }
    .div1 input {
      float: right;
    }
    .divs label {
      margin: 5px;
    }
    .divimg {
      float: right;
    }
}
.divform {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*PAGINAS DE INFORMACIO*/
.divinfor {
  background-color: cornflowerblue;
  border-radius: 5px;
  border: 2px solid black;
  position: absolute;
  width: 100vw;
  justify-content: space-evenly;
    div {
      position: relative;
      float: left;
      width: 33vw;
      height: 5vh;
      padding-left: 10%;
    }
}
.divin {
  height: 5vh;
}
.divres {
  background-color: cornflowerblue;
  border-radius: 5px;
  border: 2px solid black;
  width: 90vw;
}
.divcont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
